<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="marimo.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- このセクションでは、My.Application.Log のログ構成を定義します。 -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除します -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除して、APPLICATION_NAME をアプリケーション名に置き換えます -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <marimo.My.MySettings>
            <setting name="FontName" serializeAs="String">
                <value>メイリオ</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="FormWidth" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="FormHeight" serializeAs="String">
                <value>43</value>
            </setting>
            <setting name="MarginRight" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="MarginBottom" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>LightCyan</value>
            </setting>
            <setting name="MenuFontName" serializeAs="String">
                <value>メイリオ</value>
            </setting>
            <setting name="MenuFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="ShowLabel1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StayTopMost" serializeAs="String">
                <value>False</value>
            </setting>
        </marimo.My.MySettings>
    </userSettings>
</configuration>
